/*styles.css*/

* { /* Basic Style setup */
    outline: /* 1px dotted red; /* <-- This helps to show where all the content boxes are. Helpful, not required. */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { /* Adds default font style to all text. Should include this as a part of initial setup. */
    font-family:'Roboto', sans-serif;
}

.bg-1f2937 { /* Hero section background */
    background-color: #1F2937;
    padding: 10px 10% 5%;
}

.header-container { /* Adds Flex to Nav Menu */
    display: flex;
    justify-content: center;
}

.links { /* Menu links. Adds Flex and aligns links to the right. */
    display: flex;
    justify-content: flex-end;
}

.section-one { /* Adds Flex to Hero text secion, centers it, and adds some space to top margin. */
    color: #F9FAF8;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.one-left { /* Adds some space between the hero text and hero image */
    margin-right: 50px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary,
.header-container {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo { /* Adds Flex to logo and sets it to the left. */
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: flex-start;
    width: 500px;
}

.header-container a {
    color:#F9FAF8;
}

.signup,
.cta-button {
    background-color: #3882F6;
    border: 0;
    padding: 5px 20px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.section-two { /* Adds flex to section below hero, adds some space, and centers */
    margin: 20px;
    display: flex;
    justify-content: center;
}

.box-container { /* Adds Flex to boxes and centers them */
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.box {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 10px 10px 0px 10px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper {
    display: flex;
    /*height: 150px;*/
    width: 150px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.quote-wrapper,
.author-wrapper {
    background-color: #E5E7EB;
    display: flex;
    justify-content: flex-end;
}

.quotation {
    font-size: 36px;
    color: #1f2937b2;
    font-style: italic;
    margin: 25px 50px 0px 50px;
    display: flex;
    justify-content: center;
}

.author-box {
    display: flex;
    justify-content: center;
}

.author {
    font-size: 26px;
    color: #1F2937;
    font-weight: bold;
    margin-right: 50px;
    display: flex;
    justify-content: center
}

.cta-wrapper {
    display: flex;
    justify-content: center;
}

.cta-box {
    width: 900px;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #3882F6;
    color: #fff;
    border-radius: 5px;
}

.cta {
    margin-right: 50px;
}

.cta-text {
    font-weight: bold;
    margin-bottom: -15px;
}

.cta-subtext {
    color:#E5E7EB;
}

.cta-button {
    display: flex;
    justify-content: flex-end;
    border: 1px solid #fff;
    background-color: #3882F6;
    padding: 0px 25px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}

.footer-wrapper {
    background-color: #1F2937;
    margin-top: 30px;
    padding: 30px 0px;
    color: #fff;
    font-size: 10px;
    text-align: center;
}